p {
    color: white;
}

header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20vw;
    margin-right: 20vw;

    a {
        color: white;
        font-size: 20px;
        text-decoration: none;
        padding-right: 30px;
        font-weight: 500;
        cursor: pointer;

        &:hover {
            color: #fa2759;
        }
    }

    img {
        height: 80px;
        width: 80px;
        cursor: pointer;
    }
}

@media (max-width: 1130px) {
    header {
        a {
            font-size: 16px;
        }
    }
}

@media (max-width: 1015px) {
    header {
        a {
            display: none;
        }
    }

    .dropDown-menu {
        display: flex !important;
        height: 38px !important;
        width: 38px !important;
        -webkit-filter: invert(1);
        filter: invert(1);
    }
}
