<header>
    <img *ngIf="!alternativeMode" routerLink="/" src="assets/img/seblogo3.png">
    <img *ngIf="alternativeMode" routerLink="/" src="assets/img/seblogo2.png">

    <div>
        <a routerLink="/">Home</a>
        <a (click)="scroll('#aboutmesection')">About</a>
        <a (click)="scroll('#myworksection')">Portfolio</a>

    </div>

    <img (click)="openCloseMenu()" class="dropDown-button" src="assets/img/menu1.png" style="display: none;">
    <div  *ngIf="menuIsOpen" class="dropDownMenu">
        <a href="index.html">Home</a>
        <a href="index.html#day-menu-section">About</a>
        <a href="send-mail.html">Portfolio</a>

    </div>

</header>

