p {
    color: white;
}

header {
    position: absolute;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 365px;
    margin-right: 365px;
    z-index: 1;

    a {
        color: white;
        font-size: 20px;
        text-decoration: none;
        padding-right: 30px;
        font-weight: 500;

        &:hover{
            color: rgb(206, 221, 100);
        }
    }

    img {
        height: 80px;
        width: 80px;
    }
}
