<div class="contactform-container">

    <div class="contactform-text">
        <h1>Contact Me</h1>
        <span>Get in touch with me via the contact form below</span>
    </div>

    <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm.value)" novalidate>
        <p>
            <label for="firstname">First Name</label>
            <input type="text" #nameRef="ngModel" minlength="4" required
                placeholder="Enter Your First Name" id="firstname" name="firstname" ngModel>
        </p>
        <div *ngIf="nameRef.errors && (nameRef.dirty || nameRef.touched)" class="alert">
            <div [hidden]="!nameRef.errors?.['required']">
                Please enter a name
            </div>
            <div [hidden]="!nameRef.errors?.['minlength']">
                Please enter at least 4 characters
            </div>
        </div>


        <p>
            <label for="lastname">Last Name</label>
            <input type="text" #lastNameRef="ngModel" minlength="4" required
                placeholder="Enter Your Last Name" id="lastname" name="lastname" ngModel>
        </p>
        <div *ngIf="lastNameRef.errors && (lastNameRef.dirty || lastNameRef.touched)" class="alert">
            <div [hidden]="!lastNameRef.errors?.['required']">
                Please enter a name
            </div>
            <div [hidden]="!lastNameRef.errors?.['minlength']">
                Please enter at least 4 characters
            </div>
        </div>

        <p>
            <label for="email">Email </label>
            <input type="text" #refEmailPattern="ngModel" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                 placeholder="Enter Your e-mail address" id="email" name="email" ngModel>
        </p>
        <div *ngIf="refEmailPattern.errors && (refEmailPattern.dirty || refEmailPattern.touched)" class="alert">
            <div [hidden]="!refEmailPattern.errors?.['pattern']">
                This is not a valid e-mail
            </div>
        </div>
        <p>
            <label for="message">Message </label>
            <textarea type="text" #refMessage="ngModel" minlength="20" maxlength="200" required 
                 placeholder="Enter your message to me" id="message" name="message" ngModel>
            </textarea>
        </p>
        <div *ngIf="refMessage.errors && (refMessage.dirty || refMessage.touched)" class="alert">
            <div [hidden]="!refMessage.errors?.['required']">
                Please enter a message
            </div>

            <div [hidden]="!refMessage.errors?.['minlength']">
                Please enter at least 20 characters
            </div>
            <div [hidden]="!refMessage.errors?.['maxlength']">
                Character limit reached
            </div>
        </div>


        <p class="button-container">
            <button [disabled]="!contactForm.form.valid" class="contact-button" type="submit">Send</button>
        </p>
    </form>

</div>