.contactform-container {
    height: 85vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    padding-top: 40px;
}

p {
    color: white;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #2dfcd8;
    font-size: 45px;
}

span {
    color: #2dfcd8;
}

form {
    width: 500px;
}

.contactform-text {
    width: 500px;
    margin-bottom: 15px;
}

.contact-button {
    width: 170px;
    height: 65px;
    text-align: center;
    line-height: 7px;

    &:hover{
        cursor: no-drop;
    }

    &:not([disabled]):hover {
        cursor: pointer;
    }
}

label {
    margin-bottom: 8px;
}

.alert {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 12px;
    font-size: 13px;
    color: rgb(112, 21, 21);
    background-color: rgb(223, 165, 165);
}

input {
    background-color: #1a1a1a;
    color: white;
    height: 18px;
    font-family: 'Inter', sans-serif;
    padding-left: 5px;
    border: none;
}

textarea{
    background-color: #1a1a1a;
    color: white;
    height: 75px;
    resize: none;
    border: none;
    font-family: 'Inter', sans-serif;
}

.button-container {
    display: flex;
    align-items: flex-end;
}

@media (max-width: 730px) {
    form{
        width: 60vw;
    }

    .contactform-text{
        width: 60vw;
    }

    .contact-button{
        width: 140px;
    }
}