<div class="aboutme-section" id="aboutmesection">
    <div class="aboutme-top-section">
        <div class="aboutme-container">
            <div class="image-container">
                <img class="profile-pic" src="assets/img/profile_red.png">
            </div>

            <div class="aboutme-text">
                <h1>About me.</h1>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum expedita molestiae consequuntur,
                    minus quo accusantium officiis veritatis iure fuga maiores a, ut temporibus esse reiciendis
                    reprehenderit aliquam aliquid provident doloremque!</span>
            </div>
        </div>
    </div>

    <div class="aboutme-bottom-section">
        <div class="myJourney-container">
            <img src="assets/img/walk-line.png">
            <h2>My Journey Began</h2>
            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium earum autem excepturi.
                Architecto
                incidunt laboriosam cupiditate beatae natus praesentium maiores possimus! </span>
        </div>
        <div class="myJourney-container">
            <img src="assets/img/heart-line.png">
            <h2>My Journey Began</h2>
            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium earum autem excepturi.
                Architecto
                incidunt laboriosam cupiditate beatae natus praesentium maiores possimus! </span>
        </div>
        <div class="myJourney-container">
            <img src="assets/img/search-line.png">
            <h2>My Journey Began</h2>
            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium earum autem excepturi.
                Architecto
                incidunt laboriosam cupiditate beatae natus praesentium maiores possimus! </span>
        </div>
        <div class="myJourney-container">
            <img src="assets/img/takeoff.png">
            <h2>My Journey Began</h2>
            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium earum autem excepturi.
                Architecto
                incidunt laboriosam cupiditate beatae natus praesentium maiores possimus! </span>
        </div>
    </div>
</div>