<div class="aboutme-section" id="aboutmesection">
    <div class="aboutme-top-section">
        <div class="aboutme-container">
            <div class="image-container">
                <img class="profile-pic" src="assets/img/profile_red.png">
            </div>

            <div class="aboutme-text">
                <h1>About me.</h1>
                <span>I'm a foreign language teacher, I love playing the drums and I've recently become a fervent
                    frontend developer who constantly tries to improve his craft.
                </span>
            </div>
        </div>
    </div>

    <div class="aboutme-bottom-section">
        <div class="myJourney-container">
            <img src="assets/img/walk-line.png">
            <h2>My Journey Began</h2>
            <span>In March 2021 I found the DeveloperAkademie in Munich and I was immediately convinced by their concept
                and that they would be help me start a new career. </span>
        </div>
        <div class="myJourney-container">
            <div class="myJourney-top-container">
            <img src="assets/img/heart-line.png">
            <h2>A New <br>Passion</h2>
        </div>
            <span>After learning how to build websites, I discovered the powers of Javascript shortly after. The feeling
                of making
                a beautiful site come to life and to add all kinds of functions to it is something uniquely intriguing
                to me. </span>
        </div>
        <div class="myJourney-container">
            <img src="assets/img/search-line.png">
            <h2>Keep on <br>Learning</h2>
            <span>Still in that same year, I learned how to programme my own little jump and run game "El Pollo Loco".
                Then I came to know the great possibilites of APIs, which
                I implemented in my Pokedex project. </span>
        </div>
        <div class="myJourney-container">
            <img src="assets/img/takeoff.png">
            <h2>The Journey <br>Continues</h2>
            <span>In the last few months I've started using Angular to build applications and websites like this one.
                this technology proved to be very
                useful and I strive to learn more technologies as well as work on the ones I already know.  </span>
        </div>
    </div>
</div>