.aboutme-section {
    min-height: 100vh;
    background-color: #1a1a1a;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-bottom: 55px;
    padding-top: 40px;
}

.aboutme-top-section {
    height: 50vh;
    border-bottom: 1px solid #2dfcd8;
}

.aboutme-bottom-section {
    padding-top: 25px;
    display: flex;

    .myJourney-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        word-wrap: break-word;
        width: 250px;
        margin-right: 10px;
        img {
            border-radius: 50%;
            height: 30px;
            width: 30px;
            background-color: #2dfcd8;
            padding: 15px;
        }
        span {
            color: white;
            text-align: center;
            font-size: 14px;
        }

        h2 {
            color: white;
            text-align: center;
            font-size: 25px;
        }
    }
}

.profile-pic {
    margin-left: 0;
    height: 255px;
    width: 255px;
}
.image-container {
    height: 280px;
    width: 280px;
    border-radius: 50%;
    margin-right: 25px;
    object-fit: cover;
    object-position: top;
}

.aboutme-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    align-items: center;
}

.aboutme-text {
    word-wrap: break-word;
    width: 200px;
}

span {
    color: white;
}

h1 {
    color: white;
    margin-top: 0;
}

@media(max-width: 730px){
    .aboutme-container{
    flex-direction: column;
    align-items: center;
    }

    .aboutme-top-section {
        height:auto;

    }

    .aboutme-bottom-section{
        flex-direction: column;
        align-items: center;
    }

    .aboutme-text{
        margin-bottom: 20px;
        text-align: center;
    }

    .image-container{
        margin-right: 0;
        display: flex;
        justify-content: center;
    }

    .profile-pic{
        margin-right: 0;
    }

    h1{
        font-size: 25px !important;
        text-align: center;
    }

    .myJourney-container{
        margin-bottom: 20px;
    }

}
