<div class="top-container">
    <div class="introduction-container">
        <img class="profile-pic" src="assets/img/profile_red.png">
        <div class="introduction-text-container">
            <p data-text="Sebastian_Seitz...">
                Sebastian_Seitz...
            </p>
            <p data-text="FrontEnd_Developer">
                FrontEnd_Developer
            </p>
            <a (click)="scroll('#contactformsection')"class="contact-button">Contact Me</a>

        </div>
    </div>

</div>
<img (click)="scroll('#myskillssection')"class="arrow-down" src="assets/img/down-arrow.png">