.top-container {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-left: 20vw;
    margin-right: 20vw;
    align-items: flex-start;
}

.pink {
    color: #fa2759;
    padding-right: 8px;
    font-weight: 600;
}

.introduction-container {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 100px;
    justify-content: center;
}

.introduction-text-container {
    display: flex;
    flex-direction: column;
    font-size: 45px;
    font-weight: 600;
    position: relative;

    p {
        position: relative;
        color: black;
        font-size: 10vw;
        margin-top: 0;
        -webkit-text-stroke: 0.04vw #2dfcd8;
        text-transform: uppercase;
    }
    p::before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        color: #2dfcd8;
        -webkit-text-stroke: 0vw #2dfcd8;
        border-right: 2px solid white;
        overflow: hidden;
        animation: animate 6s linear infinite;
    }

    .p2-element{
        -webkit-text-stroke: 0.04vw #fa2759;
    }
    .p2-element::before{
        color: #fa2759;
        -webkit-text-stroke: 0vw #fa2759;
        animation: animate2 6s linear infinite;
    }
}


@keyframes animate {
    0%,10%,100% {
        width: 0;
    }
    70%,90%{
        width: 84%;
    }
}

@keyframes animate2 {
    0%,10%,100% {
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}

.name-container {
    display: flex;
}
.contact-button {
    text-align: center;
}

.arrow-down {
    z-index: 99;
    background-color: white;
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 40px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-filter: invert(1);
    filter: invert(1);
}

@media (max-width: 1300px) {
    .top-container {
        flex-direction: unset;
    }
    .profile-pic {
        height: 265px !important;
        width: 265px !important;
    }

    .introduction-container {
        align-items: flex-start;
        min-width: 60vw;
        justify-content: space-between;
        p {
            font-size: 30px;
        }
    }

    .contact-button {
        width: 200px;
        font-size: 16px;
        font-weight: 500;
        padding: 30px;
    }
}

@media (max-width: 1130px) {
    .profile-pic {
        height: 190px;
        width: 190px;
    }

    .introduction-container {
        p {
            font-size: 24px;
        }
    }
}

@media (max-width: 1065px) {
    .introduction-container {
        min-width: -webkit-fill-available;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        padding-top: 50px;
    }

    .introduction-text-container {
        min-width: inherit;

        p {
            min-width: inherit;
        }
    }

    .profile-pic {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
        width: 250px;
        height: 250px;
    }

    .arrow-down {
        display: none;
    }

    .contact-button {
        width: unset;
    }
}

@media (max-width: 430px) {
    .introduction-container {
        margin-left: 0;
        margin-right: 0;
        font-size: 35px;
    }
}
