.profile-pic {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-right: 25px;
    object-fit: cover;
    object-position: top;
    margin-left: 80px;
}

.top-container {
    height: 80vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-left: 250px;
    margin-right: 250px;

    .p1 {
        color: white;
        font-size: 45px;
        font-weight: 600;
    }
}

.pink {
    color: rgb(206, 221, 100);
    padding-right: 8px;
    font-weight: 600;
}

.name-container{
    display: flex;

}
