<div class="skills-section">
    <h1>MY Skills</h1>
    <div class="skills-container">
        <div class="skills-row">
            <div class="skill">
                <img src="assets/img/javascript.png">
                Javascript
            </div>
            <div class="skill">
                <img src="assets/img/angular.png">
                Angular
            </div>
            <div class="skill">
                <img src="assets/img/html.png">
                HTML CSS
            </div>
        </div>

        <div class="skills-row">
            <div class="skill">
                <img src="assets/img/scrum.png">
                Scrum
            </div>
            <div class="skill">
                <img src="assets/img/git-icon.png">
                Git
            </div>
            <div class="skill">
                <img src="assets/img/design.png">
                Design 
            </div>

        </div>

    </div>
</div>