.skills-section {
    background-color: #1a1a1a;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 60px;
    padding-top: 40px;
}

h1 {
    font-size: 64px;
    text-align: center;
    width: 100vw;
    margin-bottom: 70px;
}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-row {
    display: flex;
    margin-bottom: 60px;
    min-width: 60vw;
}

.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    color: black;
    margin: 20px;
    padding: 40px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 5%;
    position: relative;
    width: 200px;
    height: 80px;
    transition: all 3.5s ease-in-out;

    img {
        border-radius: 50%;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: -50px;
        display: flex;
        justify-content: center;
        padding: 10px;
        background-color: white;
        height: 70px;
    }
    &:hover {
        background-color: #2dfcd8;;
        transform: rotate(360deg);
    }
}

.against:hover {
    background-color: #fa2759;;
    transform: rotate(-360deg);
}

.sign {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(
      ellipse 50% 35% at 50% 50%,
      #6b1839,
      transparent
    );
    transform: translate(-50%, -50%);
    letter-spacing: 2;
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 40px;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    animation: shine 2s forwards, flicker 3s infinite;
  }

  @keyframes blink {
    0%,
    22%,
    36%,
    75% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
    28%,
    33% {
      color: #ff65bd;
      text-shadow: none;
    }
    82%,
    97% {
      color: #ff2483;
      text-shadow: none;
    }
  }

  .flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
  }

  .fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
  }

  @keyframes shine {
    0% {
      color: #6b1839;
      text-shadow: none;
    }
    100% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
  }

  @keyframes flicker {
    from {
      opacity: 1;
    }

    4% {
      opacity: 0.9;
    }

    6% {
      opacity: 0.85;
    }

    8% {
      opacity: 0.95;
    }

    10% {
      opacity: 0.9;
    }

    11% {
      opacity: 0.922;
    }

    12% {
      opacity: 0.9;
    }

    14% {
      opacity: 0.95;
    }

    16% {
      opacity: 0.98;
    }

    17% {
      opacity: 0.9;
    }

    19% {
      opacity: 0.93;
    }

    20% {
      opacity: 0.99;
    }

    24% {
      opacity: 1;
    }

    26% {
      opacity: 0.94;
    }

    28% {
      opacity: 0.98;
    }

    37% {
      opacity: 0.93;
    }

    38% {
      opacity: 0.5;
    }

    39% {
      opacity: 0.96;
    }

    42% {
      opacity: 1;
    }

    44% {
      opacity: 0.97;
    }

    46% {
      opacity: 0.94;
    }

    56% {
      opacity: 0.9;
    }

    58% {
      opacity: 0.9;
    }

    60% {
      opacity: 0.99;
    }

    68% {
      opacity: 1;
    }

    70% {
      opacity: 0.9;
    }

    72% {
      opacity: 0.95;
    }

    93% {
      opacity: 0.93;
    }

    95% {
      opacity: 0.95;
    }

    97% {
      opacity: 0.93;
    }

    to {
      opacity: 1;
    }
  }

@media (max-width: 1300px) {
    .skill {
        width: 140px;
        height: 40px;
        font-size: 20px;
    }
    .skill-section {
        font-size: 45px;
    }
}

@media (max-width: 1015px) {
    .skill {
        width: 130px;
        height: 35px;
        img {
            height: 55px;
        }
    }
}

@media (max-width: 850px) {
    .skill {
        width: 100px;
        height: 26px;
        font-size: 17px;
    }
}

@media (max-width: 730px) {
    .skill {
        width: 70px;
        height: 19px;
        font-size: 15px;

        img {
            height: 40px;
        }
    }
}

@media (max-width: 590px) {
    .skill {
        width: 6vw;
        height: 0vh;
        font-size: 14px;
        margin: 12px;
    }
}
