.skills-section {
    background-color: #1a1a1a;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 60px;
    padding-top: 40px;
}

h1 {
    font-size: 64px;
    text-align: center;
    width: 100vw;
    margin-bottom: 70px;
}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-row {
    display: flex;
    margin-bottom: 60px;
    min-width: 60vw;
}

.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    color: black;
    margin: 20px;
    padding: 40px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 5%;
    position: relative;
    width: 200px;
    height: 80px;

    img {
        border-radius: 50%;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: -50px;
        display: flex;
        justify-content: center;
        padding: 10px;
        background-color: white;
        height: 70px;
    }
}

@media (max-width: 1300px) {
    .skill {
        width: 140px;
        height: 40px;
        font-size: 20px;
    }
    .skill-section {
        font-size: 45px;
    }
}

@media (max-width: 1015px) {
    .skill {
        width: 130px;
        height: 35px;
        img {
            height: 55px;
        }
    }
}

@media (max-width: 850px) {
    .skill {
        width: 100px;
        height: 26px;
        font-size: 17px;
    }
}

@media (max-width: 730px) {
    .skill {
        width: 70px;
        height: 19px;
        font-size: 15px;

        img {
            height: 40px;
        }
    }
}

@media (max-width: 590px) {
    .skill {
        width: 4vw;
        height: 0vh;
        font-size: 14px;
    }
}
