<div class="skills-section" id="myskillssection">
    <div class="sign">
        <span class="fast-flicker">M</span>y<span class="flicker">S</span>kills
      </div>
    <div class="skills-container">
        <div class="skills-row">
            <div class="skill">
                <img src="assets/img/javascript.png">
                Javascript
            </div>
            <div class="skill against">
                <img src="assets/img/angular.png">
                Angular
            </div>
            <div class="skill">
                <img src="assets/img/html.png">
                HTML CSS
            </div>
        </div>

        <div class="skills-row">
            <div class="skill">
                <img src="assets/img/scrum.png">
                Scrum
            </div>
            <div class="skill against">
                <img src="assets/img/git-icon.png">
                Git
            </div>
            <div class="skill">
                <img src="assets/img/design.png">
                Design
            </div>

        </div>
        <div class="skills-row">
            <div class="skill">
                <img src="assets/img/api.png">
                Rest API
            </div>
            <div class="skill against">
                <img src="assets/img/database.png">
                Databases
            </div>
            <div class="skill">
                <img src="assets/img/accept.png">
                Test automation
            </div>

        </div>

    </div>
</div>