.mywork-section {
    padding-top: 40px;
    padding-bottom: 80px;
}
h1 {
    color: white;
    font-size: 64px;
    text-align: center;
    width: 100vw;
    margin-bottom: 70px;
}

.mywork-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    button {
        background-color: transparent;
        color: white;
        border: 1.5px solid #fa2759;
        width: 200px;
        font-size: 18px;
        font-weight: 600;
        padding: 30px;
        cursor: pointer;
        margin-right: 8px;

        &:hover {
            background-color: #fa2759;
            transition: all 0.4s ease;
            -webkit-transition: all 0.4s ease;
        }
    }
}

.image-row {
    display: flex;
}

.showQuiz {
    color: white;
}

.preview-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    img {
        height: 300px;
        width: 300px;
        object-fit: cover;
        border-radius: 5%;
    }
}

.d-none {
    display: none;
}

.row {
    height: 300px;
    width: 300px;
    margin: 20px;
    color: white;
    position: relative;
    z-index: 2;
}
.bottom-row {
    display: flex;
}

.transparent {
    opacity: 0.5;
}

.tryOut {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    position: absolute;
    width: 100%;
    z-index: 10;

    a {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        background-color: transparent;
        color: #2dfcd8;
        border: 1px solid #2dfcd8;
        width: 100px;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
        text-decoration: none;
        // padding-right: 0;
        // padding-left: 0;
        padding: 10px;
        border-radius: 5%;

        &:hover {
            cursor: pointer;
            background-color: #2dfcd8;
            color: white;
            transition: all 0.2s ease;
            -webkit-transition: all 0.2s ease;
        }
    }
}

@keyframes shine {
    0% {
      color: #0d5348;;
      text-shadow: none;
    }
    100% {
      color: #b9dbd6;
      text-shadow: 0 0 0.6rem #8ac5bc, 0 0 1.5rem #77c0b5,
        -0.2rem 0.1rem 1rem #72b8ad, 0.2rem 0.1rem 1rem #6cb3a8,
        0 -0.5rem 2rem #68b4a9, 0 0.5rem 3rem #2dfcd8;;
    }
  }


@media (max-width: 1015px) {
    .preview-container {
        img {
            height: 270px;
            width: 270px;
        }
    }
    .row {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 730px) {
    .image-row {
        flex-direction: column;
        align-items: center;
    }

    .mywork-buttons {
        margin-left: 10px;
        button {
            min-width: 120px;
            font-size: 14px;
        }
    }
}
