<div class="mywork-section" id="myworksection">
    <div class="sign">
        <span class="fast-flicker">M</span>y<span class="flicker">W</span>ork
      </div>

    <div class="mywork-buttons">
        <button (click)="showAllWorks()">All</button>
        <button (click)="showAngular()">Angular</button>
        <button (click)="showJavascript()">Javascript</button>
    </div>

    <div class="preview-container">

        <div class="image-row">
            <div class="row" *ngIf="javascript || showAll" (mouseover)="hoverOver = true && showQuiz = true" (mouseleave)="hoverOver = false" (mouseleave)= "showQuiz = false">
                <div class="tryOut" *ngIf="hoverOver && showQuiz">Quizz App
                    <a href="#">Try it out</a>
                </div>
                <img [class.transparent]="hoverOver && showQuiz" *ngIf="javascript || showAll" src="assets/img/quizzapp.png">
            </div>
            <div class="row" *ngIf="javascript || showAll" (mouseover)="hoverOver = true && showGame = true" (mouseleave)="hoverOver = false" (mouseleave) ="showGame = false">
                <div class="tryOut" *ngIf="hoverOver && showGame">Jump and Run Game
                    <a href="el%20pollo%20loco/index.html">Try it out</a>
                </div>
                <img [class.transparent]="hoverOver && showGame"  src="assets/img/elpolloloco.png">
            </div>
        </div>


        <div class="image-row">
            <div class="row" *ngIf="javascript || showAll" (mouseover)="hoverOver = true && showPokedex =true" (mouseleave)="hoverOver = false" (mouseleave)="showPokedex = false">
                <div class="tryOut" *ngIf="hoverOver && showPokedex">API based Pokedex
                    <a href="pokedex/pokedex.html">Try it out</a>
                </div>
                <img [class.transparent]="hoverOver && showPokedex"  src="assets/img/pokedex.png">
            </div>
            <div class="row" *ngIf="!javascript || showAll" (mouseover)="hoverOver = true && showMusicApp = true" (mouseleave)="hoverOver = false" (mouseleave)="showMusicApp = false">
                <div class="tryOut" *ngIf="hoverOver && showMusicApp">Ring of Fire
                    <a href="#">Try it out</a>
                </div>
                <img [class.transparent]="hoverOver && showMusicApp"  src="assets/img/ringoffire.jpg">
            </div>
        </div>

    </div>
</div>