.mywork-section {
    height: 100vh;
}
h1 {
    color: white;
    font-size: 64px;
    text-align: center;
    width: 100vw;
}

.mywork-buttons {
    display: flex;
    justify-content: center;

    button {
        background-color: transparent;
        color: white;
        border: 1.5px solid #fa2759;
        width: 200px;
        font-size: 18px;
        font-weight: 600;
        padding: 30px;
        cursor: pointer;
        margin-right: 8px;

        &:hover {
            background-color: #fa2759;
            transition: all 0.4s ease;
            -webkit-transition: all 0.4s ease;
        }
    }
}

.showQuiz{
    color: white;
}

.preview-container{
    display: flex;
    align-items: center;
    flex-direction: column;

    img{
        height: 200px;
        width: 200px;
        padding: 20px;
        object-fit: cover;
    }
}

.d-none{
    display: none;
}

.quiz{
    height: 200px;
    width: 200px;
    color: white;
    position: relative;
    z-index: 2;
}
.bottom-row{
    display: flex;
}

.transparent{
    opacity: 0.5;
}

.tryOut{
    color: white;
    position: absolute;
    margin: 50%;
    width: 50%;

    a{

        position: absolute;
        margin-bottom: 10%;
        color: blue;

        &:hover{
            cursor: pointer;
            background-color: yellow;
        }
    }

}