body {
  margin: 0;
  background-color: black;
  font-family: "Inter", sans-serif;
  overflow-x: auto;
}

.profile-pic {
  height: 370px;
  width: 370px;
  border-radius: 50%;
  margin-right: 25px;
  object-fit: cover;
  object-position: top;
  margin-left: 80px;
  animation: rotate 6s ease-in-out;
  transform: translateX(0);
  transition: 0.8s all ease-in-out;

  &:hover{
    box-shadow: 4px 4px 45px 15px #a01f3d;;
  }
}

@keyframes rotate{
  0%{
    transform: rotateY(0deg);
  }
  100%{
    transform: rotateY(360deg);
  }
}

.contact-button {
  background-color: transparent;
  color: #2dfcd8;
  border: 3px solid #2dfcd8;
  width: 280px;
  font-size: 18px;
  font-weight: 600;
  padding: 30px;
  cursor: pointer;
  box-shadow: 1px 1.5px 1px 1.5px;
  transition: 0.8s all ease-in-out;

  &:not([disabled]):hover {
    background-color: #2dfcd8;
    color: white;
    transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.4s ease;
  }
}

a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding-right: 30px;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    color: #fa2759;
  }
}

.sign {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(ellipse 50% 35% at 50% 50%, #6b1839, transparent);
  margin-bottom: 70px;
  font-family: "Clip";
  text-transform: uppercase;
  font-size: 45px;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
  28%,
  33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ff2483;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 1300px) {
  h1 {
    font-size: 45px !important;
  }
}
